body{
  margin-left: 20%;
  margin-right: 20%;
  font-family: 'Open Sans', sans-serif;
  background-color: #E4BFF8 ;

}

h1{
  font-size: 20px
}
.background-text-box{
  /* orange */
  background-color: #BCDEF6 ;
}

p{
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

li{
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}
h6{
  background-color: #CBE9FC ;
}
img{
  width=80%
}
figcaption{
  color: #9CA1A4
}
